/* Navbar */
.navbar{
    position: relative;
    z-index: 1;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-left: -15%;
}

.nav-link{
    margin-right: 10px;
}

.nav-link:hover::after{
    content: '';
    display: block ;
    border-bottom: 2px solid #ffffff;
    width: 50% ;
    margin: auto ;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}

.jumbotron {
    background-image: url(img/bghome.jpeg);
    background-size: cover;
    margin:center;
    width: 100%;
    height: 1120px;
    backdrop-filter: blur(10px);
}


.jumbotron .display-4 {

    color:#ffffff;
    text-align: center;
    margin-top: 760px;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
    position:relative;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to top, rgb(0, 0, 0,0.7), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 2400px;
    background-color: #356282;
    position: relative;
    border-radius: 50px;
    margin-top: 150px;
}

/* booking panel */

 .booking-panel{ 
    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 10px;
    margin-top: -150px;
    margin-left: auto;
    margin-right: auto;
    padding : 25px;

 } 

 /* rekom panel */

 .high-light{
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 16px;
    color: #ffffff;
    margin-top: 60px;
    margin-left: 27%;
    margin-right: auto;
 }

 .box-1{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 30px;
    margin-left: -100px;
    width:375px;
    height:406px;
    padding : auto;
    text-align: center;
    font-size: 14px;
 }

 .box-1 h5{
    text-align: center;
    margin-left: 90px;
 }

 .box-2{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 30px;
    margin-left:350px;
    margin-top: -405px;
    width:375px;
    height:406px;
    padding : auto;
    text-align: center;
    font-size: 14px;
 }

 .box-2 h5{
    text-align: center;
    margin-left: 90px;
 }

 .box-3{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 30px;
    margin-left: 800px;
    margin-top: -405px;
    width:375px;
    height:406px;
    padding : auto;
    text-align: center;
    font-size: 14px;
 }

 .box-3 h5{
    text-align: center;
    margin-left: 90px;
 }

 .box-4{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: -145px;
    width:375px;
    height:406px;
    padding : auto;
    text-align: center;
    font-size: 14px;
 }

 .box-4 h5{
    text-align: center;
    margin-left: 90px;
 }

 .box-5{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 30px;
    margin-left: 305px;
    margin-top: -405px;
    width:375px;
    height:406px;
    padding : auto;
    text-align: center;
    font-size: 14px;
 }

 .box-5 h5{
    text-align: center;
    margin-left: 90px;
 }

 .box-6{
    box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 30px;
    margin-left: 760px;
    margin-top: -405px;
    width:375px;
    height:406px;
    padding : auto;
    text-align: center;
    font-size: 14px;
 }

 .box-6 h5{
    text-align: center;
    margin-left: 90px;
 }

 .btnSelengkapnya{
    border-radius: 30px;
    margin-left: -135px;
    margin-top: 30px;
    margin-bottom: 150px;
 }

 /* kota panel */

 .rekomen-kota h6{
    font-family: "Montesrrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    margin-left: 30px;
    text-align: center;
 }

 .rekomen-kota span{
    color: aqua;
    font-weight: bolder;
 }

  .kotarekomen .autogrup {
   box-shadow: 0px 3px 20px rgba(0,0,0,0.5);
   background-color: #d9d9d9;
   border-radius: 10px;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   padding : 25px;
   border-radius: 30px;
  }
  
   .kotarekomen .autogrup .auto-group-pkzr-F17 {
    margin: 0rem 11.624rem 2.221rem 11.145rem;
    width: calc(100% - 22.7686rem);
    height: 5.7757rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
  }
   .kotarekomen .autogrup .auto-group-pkzr-F17 .group-2-9MP {
    margin-right: 1.9174rem;
    width: 25px;
    height: 10px;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.2175;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 40px;
    flex-shrink: 0;
  }
   
/* desktop version */

@media (min-width: 992px){

        .navbar-brand, .nav-link{
            color:#ffffff !important ;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        }

        .nav-link{
            margin-right: 15px;
        }
        
        .nav-link:hover::after{
            content: '';
            display: block ;
            border-bottom: 2px solid #ffffff;
            width: 50% ;
            margin: auto ;
            padding-bottom: 5px;
            margin-bottom: -8px;
        }

        .jumbotron{
            margin-top: -300px;
        }

        .display-4{
            font-size: 24px !important;
            margin-left: auto;
            margin-right: auto;
            width: 852px;
          
        }

        .high-light{
            font-size: 32px !important;
        }

}